include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "animations.kdl"
include "environment.kdl"
include "keybinds.kdl"
include "misc.kdl"
include "rules.kdl"
include "startup.kdl"
// include "theme.kdl" if-exists=true // wait my PR merged
