// Environment
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto" // for electron > 28
    CLUTTER_BACKEND "wayland"
    DISPLAY ":0"
    GDK_BACKEND "wayland,x11"
    MOZ_ENABLE_WAYLAND "1"
    NIXOS_OZONE_WL "1"
    // QT_STYLE_OVERRIDE "kvantum"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    SDL_VIDEODRIVER "wayland"
}
